<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/img/room4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Get A Best Room For Living</h5>
                <p>Enjoy every movement of you life !!! </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/img/room3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Get A Best Room For Living</h5>
                <p>Enjoy every movement of you life !!! </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/img/room1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Get A Best Room For Living</h5>
                <p>Enjoy every movement of you life !!! </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <div id="mybutton">
        <button class="feedback " style="border-radius: 50%; width: 75px; height: 75px;" routerLink='/main/cart'><i
                class="fa-solid fa-cart-shopping"></i></button>
    </div>
    <!-- <button class="carousel-control" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
</div>


<!-- carousel -->


<!-- carousel -->

<div class="container-fluid mt-5 mb-5 " style="border: 2px solid gray; border-radius: 20px;">

    <div *ngIf="premiumLoading">
        <h2 class="text-center m-2 p-2" style="background-color: rgb(226, 226, 226); border-radius: 10px;"><span
                style="color:gold;" class="fw-bold">Premium</span> Rooms</h2>
        <hr class="bg-black " style="height: 3px;">
        <div class="row mt-3  myrow">
            <div class="card mycard ml-2 mr-2 mb-3" *ngFor="let pre of premium"
                style="width: 14rem;border-radius: 10%; background-color: rgb(226, 226, 226);">
                <!-- *ngFor="let room of normal" -->
                <div class="text-center">

                    <img class="card-img-top image-fluid mt-2" style="height:13rem; width: 12rem; border-radius: 10px;"
                        src="./../../../../assets/img/download (1).png" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-lg-12 justify-content-inline">

                            <p class="card-title">Adderss : {{pre.address}}</p>
                            <p class="card-title"> {{pre.price}}</p>

                        </div>
                        <!-- <p class="card-text ">{{rooms[0].description}}</p> -->
                        <div>
                            <button class="btn btn-sm btn-primary mr-2" style="border-radius: 10px;"
                                (click)="addTocart(pre)">Add to
                                Cart</button>
                            <button class="btn btn-sm btn-info" style="border-radius: 10px;"
                                (click)="booking()">Book</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************** -->


        </div>

    </div>

</div>

<div class="container-fluid mt-5 mb-5 " *ngIf="urgentLoading" style="border: 2px solid gray; border-radius: 20px;">

    <div>
        <h2 class="text-center m-2 p-2" style="background-color:rgb(226, 226, 226) ; border-radius: 10px;"><span
                class="text-danger fw-bold">
                Urgent</span> Rooms</h2>
        <hr class="bg-black " style="height: 3px;">
        <div class="row mt-3  myrow">
            <div class="card mycard ml-2 mr-2 mb-3" *ngFor="let ur of urgent"
                style="width: 14rem;border-radius: 10%; background-color: rgb(226, 226, 226);">
                <!-- *ngFor="let room of normal" -->
                <div class="text-center">

                    <img class="card-img-top image-fluid mt-2" style="height:13rem; width: 12rem; border-radius: 10px;"
                        src="./../../../../assets/img/download (1).png" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-lg-12 justify-content-inline">

                            <p class="card-title">Adderss : {{ur.address}}</p>
                            <p class="card-title"> {{ur.price}}</p>

                        </div>
                        <!-- <p class="card-text ">{{rooms[0].description}}</p> -->
                        <div style="border-radius: 10%;">
                            <button class="btn btn-sm btn-primary mr-2" style="border-radius: 10px;"
                                (click)="addTocart(ur)">Add to
                                Cart</button>
                            <button class="btn btn-sm btn-info" style="border-radius: 10px;"
                                (click)="booking()">Book</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************** -->


        </div>

    </div>

</div>

<div class="container-fluid mt-5 mb-5  " *ngIf="normalLoading" style="border: 2px solid gray; border-radius: 20px;">

    <div>
        <h2 class="text-center m-2 p-2" style="background-color: rgb(226, 226, 226); border-radius: 10px;"><span
                style="color: blue;" class="fw-bold">Normal</span> Rooms</h2>
        <hr class="bg-black " style="height: 3px;">
        <div class="row mt-3  myrow">
            <div class="card mycard ml-2 mr-2 mb-3" *ngFor="let nom of normal"
                style="width: 14rem;border-radius: 10%; background-color: rgb(226, 226, 226);">
                <!-- *ngFor="let room of normal" -->
                <div class="text-center">

                    <img class="card-img-top image-fluid mt-2" style="height:13rem; width: 12rem; border-radius: 10px;"
                        src="./../../../../assets/img/download (1).png" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-lg-12 justify-content-inline">

                            <p class="card-title">Adderss : {{nom.address}}</p>
                            <p class="card-title"> {{nom.price}}</p>

                        </div>
                        <!-- <p class="card-text ">{{rooms[0].description}}</p> -->
                        <div style="border-radius: 10%;">
                            <button class="btn btn-sm btn-primary mr-2" style="border-radius: 10px;"
                                (click)="addTocart(nom)">Add to
                                Cart</button>
                            <button class="btn btn-sm btn-info" style="border-radius: 10px;"
                                (click)="booking()">Book</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************** -->


        </div>

    </div>

</div>